<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>RT Web</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" href="static/jquery.mobile-1.4.2.min.css" />
	<script src="static/jquery-2.1.1.min.js"></script>
	<script src="static/jquery.mobile-1.4.2.min.js"></script>
	<script src="static/DataTables-1.10.9/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="static/DataTables-1.10.9/css/jquery.dataTables.css"/>
	<script src="static/test.js"></script>

</head>

<body>

	<div data-role="page" id="page1">

		<div data-role="header" style="overflow:hidden;" data-theme="b">
			<h1 id="headeer_status">Remote Logger</h1>
			<a class="ui-btn-right" id="live" data-theme="a">OFFLINE</a>
		</div>

		<div data-role="tabs"  data-theme="a">
			<div data-role="navbar">
				<ul>
                    <li>
						<a href="#datatables">Logger</a>
					</li>
					<li>
						<a href="#tab_console">Console</a>
					</li>
					<!-- <li>
						<a href="#tab_debug">Debug</a>
					</li> -->
					<li>
						<a href="#tab_settings">Settings</a>
					</li>
				</ul>
			</div>
			<div role="main" class="ui-content">
				<!-- ######################################################################## -->
				<!-- TAB MAIN -->
				<div id="datatables">

					<!-- <div class="ui-corner-all custom-corners">						 -->
						<!-- <div class="ui-body ui-body-a"> -->
							<!-- ######################################################################## -->
							  <table id="example"  cellspacing="0" width="100%" class="display compact"></table>
							<!-- ######################################################################## -->
						<!-- </div> -->
					<!-- </div> -->

				</div><!-- TAB MAIN -->
				<!-- ######################################################################## -->
				<!-- TAB CONSOLE -->
				<div id="tab_console">
					<!-- <div class="ui-corner-all custom-corners"> -->
						<!-- <div class="ui-bar ui-bar-a"><h3>Console view</h3></div> -->
						<!-- <div class="ui-body ui-body-a"> -->
							<!-- <div data-role="content"> -->							
							<textarea rows="15" name="textarea" id="ws_console" data-role="textarea" type="etc."></textarea>
							
							<div class="ui-field-contain">
							<label for="select-chan" class="select">Custom select menu:</label>
							</div>

							<div class="ui-field-contain">
							<label for="text-basic">Command</label>
							<input type="text" name="text-basic" id="json_cmd" value="" data-inline="true" data-theme="b">
							</div>

						<!-- </div>/content -->
					<!-- </div> -->
				</div><!-- TAB CONSOLE -->
				<!-- ######################################################################## -->
				<!-- TAB SETTINGS -->
				<div id="tab_settings">
					<div class="ui-corner-all custom-corners">
						<div class="ui-bar ui-bar-a"><h3>Websocket Settings</h3></div>
						<div class="ui-body ui-body-a">
							<div class="ui-grid-b">

								<div class="ui-block-a">
									<label for="hostname">Host name</label>
									<input type="text" name="hostname" id="hostname" value="47.135.58.93" data-mini="true">
								</div>
								<div class="ui-block-b">
									<label for="hostport">Host name</label>
									<input type="number" name="number" pattern="[0-9]*" id="hostport" value="8888" data-mini="true">
								</div>
								<div class="ui-block-c">
									<label for="hosturl">Host url</label>
									<input type="text" name="text" id="hosturl" value="log" data-mini="true">
								</div>

							</div><!-- /grid-b -->
						</div>

						<div class="ui-body ui-body-a">							
							<a class="ui-btn ui-btn-inline ui-icon-phone ui-btn-icon-left" id="button_connect">Connect</a>
							<button class="ui-btn ui-btn-inline" data-theme="b" id="button_disconnect">Disconnect</button>
							<button class="ui-btn ui-btn-inline" data-theme="b" id="button_test">Test</button>
							<button class="ui-btn ui-btn-inline" data-theme="b" id="button_clear">Clear</button>
						</div>
						
						<div data-role="collapsible" data-collapsed="false">
							<h4>Heading</h4>
							<form>
								<fieldset data-role="controlgroup" id="form_filename" data-mini="true">
								<legend id="cb_filename">Filename:</legend>	</fieldset>

								<fieldset data-role="controlgroup" id="form_filename" data-mini="true">
								<legend id="cb_hostname">Hostname:</legend></fieldset>

								<fieldset data-role="controlgroup" id="form_filename" data-mini="true">
								<legend id="cb_username">Username:</legend></fieldset>
							</form>
						</div>


					</div>
				</div>

			</div><!-- TAB SETTINGS -->
			<!-- ######################################################################## -->

		</div>
		<!-- <div data-role="footer" data-theme="b"></div> -->
	</div>
	<!-- <div role="main" class="ui-content"> -->
</div>
</body>

</html>